spring:
  datasource:
    url: jdbc:postgresql://db:5432/customer_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  devtools:
    restart:
      enabled: true
      poll-interval: 1000
      quiet-period: 400
      additional-paths:
        - ../*/src/main/java
        - ../*/src/main/resources
      exclude: "**/target/**,**/.mvn/**"
