spring:
  docker:
    compose:
      file: customer-service/compose.yml
  datasource:
    url: jdbc:postgresql://localhost:5433/customer_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
